/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

#nav 
{
    display: grid;
    grid-template-columns: 2fr 7fr 1.5fr 1fr 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: 
    "logo none hebergement activités sinscrire";
}

.logo
{
    grid-area: logo;
    display: flex;
    align-items: center;
    padding-left: 50px;
    
}

.logo img
{
    max-width: 100px;
    
}

.Hébergements
{
    grid-area: hebergement;
    text-decoration: none;
    color:black;
    padding: 25px;
    width: 115px;
}

.activités
{
    grid-area: activités;
    text-decoration: none;
    color:  black;
    padding: 25px;
    width: 70px;
}

.Hébergements:active, .activités:active
{
    border-top: 2px solid #0065FC;
    color: #0065FC ;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

#SousTitre
{
    font-size: 18px;
    margin-bottom: 30px;
}

#BarreRecherche
{
    margin-bottom: 30px;
    display: flex;
    height: 50px;
}

.icone
{
    border: 1px solid #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    background-color: #F2F2F2;
    cursor: pointer;
}

.ZoneRecherche
{
    border: 1px solid #F2F2F2 ;
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-left: 10px;
    height: 100%;
}

.texteRecherche 
{
    border: #F2F2F2 ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
}

#menufiltre
{
    display: flex;
    margin-bottom: 20px;
}

.filtres
{
    display: flex;
    width: 60vw;
}
.filtres :hover
{
    cursor: pointer;
    background-color: #DEEBFF;
}


.titrefiltre
{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-right: 20px;
}

.filtre1
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 0px;
    height: 50px;
    width: 150px;
    margin: 10px;
}

.filtre1 i
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    color: #0065FC ;
    background-color: #DEEBFF;
}

.filtre1 p
{
    font-weight: bold;
}


.filtre2
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 0px;
    height: 50px;
    width: 110px;
    margin: 10px;

}

.filtre2 i
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    color: #0065FC ;
    background-color: #DEEBFF;
}

.filtre2 p
{
    font-weight: bold;
}

.filtre3
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 0px;
    height: 50px;
    width: 150px;
    margin: 10px;
}

.filtre3 i
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    color: #0065FC ;
    background-color: #DEEBFF;
}

.filtre3 p
{
    font-weight: bold;
}

.filtre4
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 25px;
    padding-left: 0px;
    height: 50px;
    width: 150px;
    margin: 10px;
}

.filtre4 i
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    color: #0065FC ;
    background-color: #DEEBFF;
}

.filtre4 p
{
    font-weight: bold;
}

.filtre p
{
    margin-left: 20px;
}

.info
{
    display: flex;  
    padding-bottom: 30px;   
}

.info i
{ 
    color: #0065FC;
    font-size: 12px;
    border: 2px solid #F2F2F2;
    border-radius: 100px; 
    padding: 5px 7px 7px; 
    margin-top: 15px;
    margin-right: 8px;
    height: 10px;
}

.CartesHebergements
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "carte1 carte2 carte3"
    "carte4 carte5 carte6";
    grid-gap: 35px;
    padding-right: 20px;
    padding-left: 10px;
}

.Carte1
{
    grid-area: carte1;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte1 .divImg
{
    grid-area: img;
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Carte1 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte1 .divDescription
{
    grid-area: description;
    font-size: 11px;
    background-color: white; 
    padding-left: 10px; 
}

.Carte2
{
    grid-area: carte2;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte2 .divImg
{
    grid-area: img;
    background: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte2 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte2 .divDescription
{
    grid-area: description;
    font-size: 11px;
    background-color: white;
    padding-left: 10px; 
}

.Carte3
{
    grid-area: carte3;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte3 .divImg
{
    grid-area: img;
}

.Carte3 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte3 .divDescription
{
    grid-area: description;
    font-size: 11px;
    background-color: white;
    padding-left: 10px; 
}

.Carte4
{
    grid-area: carte4;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte4 .divImg
{
    grid-area: img;
}

.Carte4 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte4 .divDescription
{
    font-size: 11px;
    background-color: white;
    grid-area: description;
    padding-left: 10px; 
}

.Carte5
{
    grid-area: carte5;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte5 .divImg
{
    grid-area: img;
}

.Carte5 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte5 .divDescription
{
    grid-area: description;
    font-size: 11px;
    background-color: white;
    padding-left: 10px;   
}

.Carte6
{
    grid-area: carte6;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 200px;
    display:grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "description";
    padding: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px #0000002e;
}

.Carte6 .divImg
{
    grid-area: img;
}

.Carte6 .divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Carte6 .divDescription
{
    grid-area: description;
    font-size: 11px;
    background-color: white;
    padding-left: 10px; 
}

.icone-white{
    color: #f2f2f2;
}

.icone-blue{
    color: #0065FC;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

#section2
{
    margin: 60px 0px;
}

#CartesActivités
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "carte10 carte11 carte13 carte14"
    "carte10 carte11 carte13 carte14";
    grid-gap: 30px; 
}

.Carte10
{
    grid-area: carte10;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "description";  
    cursor: pointer;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}

.Carte10 .divImg
{
    grid-area: img ;
}

.Carte10 .divDescription
{
    grid-area: description;
    padding-left: 20px;
    font-size: 14px;
    background-color: white;
    border: 1px transparent solid;
}

.Carte11
{
    grid-area: carte11;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "description";  
    cursor: pointer;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    
}

.Carte11 .divImg
{
    grid-area: img ;
}

.Carte11 .divDescription
{
    grid-area: description;
    padding-left: 20px;
    font-size: 14px;
    background-color: white;
    border: 1px transparent solid;
}
 
.Carte13
{
    grid-area: carte13;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "description";  
    cursor: pointer;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}

.Carte13 .divImg
{
    grid-area: img ;
}

.Carte13 .divDescription
{
    grid-area: description;
    padding-left: 20px;
    font-size: 14px;
    background-color: white;
    border: 1px transparent solid;
}

.Carte14
{
    grid-area: carte14;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "img"
    "img"
    "img"
    "img"
    "img"
    "img"
    "description";  
    cursor: pointer;
    box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
}

.Carte14 .divImg
{
    grid-area: img ;
}

.Carte14 .divDescription
{
    grid-area: description;
    padding-left: 20px;
    font-size: 14px;
    background-color: white;
    border: 1px transparent solid;
}
  
.footer 
{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    width: 100%;
    list-style: none;
}
.footerBlocs 
{
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 200px;  
    padding-top: 30px;
    padding-left: 40px;
}

.footer a
{
    text-decoration: none;
    color: black;
}

.footerBlocs div ul
{
    padding-left: 0%;
}

.footer div li
{
    list-style: none;
    margin-bottom: 15px;  
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}